.DS_Store/
.DS_Store
.vscode/
Assignment_1/requirements/Assignment-1_Images.aux
Assignment_1/requirements/Assignment-1_Images.fdb_latexmk
Assignment_1/requirements/Assignment-1_Images.fls
Assignment_1/requirements/Assignment-1_Images.log
Assignment_1/requirements/Assignment-1_Images.out
Assignment_1/requirements/Assignment-1_Images.synctex.gz
Assignment_2/build-xcode/
Assignment_2/build/
General_Rules/General_Rules.aux
General_Rules/General_Rules.fdb_latexmk
General_Rules/General_Rules.fls
General_Rules/General_Rules.log
General_Rules/General_Rules.out
General_Rules/General_Rules.synctex.gz
